
body{
    display: flex;
    flex-direction: column;
}

header {
    background-color:#FDFFFF;
    color: #4E516A;
    border-top: #4E516A 10px solid;
    padding: 0;
}

body {
    background-color:#fafafa;
    color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

h1 {
    font-size: 25px;
    padding: 10px;
    letter-spacing: 0.3em;
}

.container{
    margin: 50px;
    border-radius: 7px;
    align-content: center;
    margin: 50px auto;
    box-shadow: 5px 5px 5px silver;
    text-align:center;
}

.about-me-container{
    background:#FF577D;
}
.skills-container{
    background:#4ADCC4; 
} 


@media all and (max-width: 479px){
    .container{
        width: 90%;
        padding: 20px;
        margin: 50px;
        flex-direction: column;
        align-content: center;
    }
    .photo{
        width: 100%;
        padding-bottom: 10px;
    }
    .about-me-container{
        width: 70%;
    }
}    
@media all and (min-width: 480px) and (max-width: 767px){
    .container{
        width: 70%;
        padding: 50px;   
    }
    .photo{
        width: 100%;
        padding-bottom: 10px;
    }
    .about-me-container p{
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }
    h1 {
        text-align: center;
    }
}
@media all and (min-width: 768px){
    .container{
        width: 75%;
        padding: 50px;
    }  
    .photo{
        width: 50%;
    }
    .about-me-container p {
        width: 40%;
        display: flex;
        flex-direction: row
    }
}    

.photo {
    filter: grayscale(100%);
}

.personal-description {
    flex: 1 1 0%;
    text-align: left;
    font-size: 17px;
}

.cualidades{
    font-size:20px;
    text-align: center;
}

.habilidades{
    background-color:    ;
    color: #4E516A;
    padding: 10px;
    text-align: center;
    margin:20px;
}

#lsthab li{
    display: inline; 
    padding-left: 8px;
    padding-right:8px;
    font-size: 20px;
    background-color: #4E516A;
    color: #F4F4F4;
}

.formacionacad {
    float: center;
    color: #4E516A;
    background-color:#FDFFFF;
}

img.small{
    width:100px;
    padding-left: 40px;
    padding-top: 10px;
}

.education-list{
    float: left;
    padding-bottom: 20px;
    text-align: left;
}

.formacioncomp {
    text-align: left;
    color: #4E516A;
    background-color:#FDFFFF;
}

.explaboral{
    text-align: left;
    color: #4E516A;
    background-color:#FDFFFF;
}

.nombre{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 0;
}

.profesion{
    font-family: 'Poppins', sans-serif;

}

.encabezado{
    margin: 20px;
    float: left;
}

.lista{
    float: right;
    margin-top:40px;
    margin-right: 40px;
}

#listaredes li{
    display: inline;
    padding-left: 7px;
    padding-right:7px;
    
}

footer {
    background-color: #FF577D; 
    color: #F4F4F4;
    padding: 10px;
    text-align: center;
    margin:20px;
}









