
body{
    display: flex;
    flex-direction: column;
}

header {
    background-color:#FDFFFF;
    color: #4E516A;
    border-top: #4E516A 10px solid;
    padding: 20px;
    box-shadow: 5px 5px 5px silver;
}

body {
    background-color:#fafafa;
    color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

h1 {
    font-size: 25px;
    padding: 10px;
    letter-spacing: 0.3em;
}

.container{
    border-radius: 7px;
    align-content: center;
    margin: 30px auto;
    box-shadow: 5px 5px 5px silver;
    text-align:center;
}

.about-me-container p{
    margin: 0 auto;
    text-align: justify;
}
h1 {
    text-align: center;
}
.about-me-container{
    background:#FF577D;
}
.skills-container{
    background:#4ADCC4; 
} 

@media all and (max-width: 479px){
    .container{
        width: 90%;
        padding: 20px;
        margin: 50px;
        align-content: center;
    }
}    
@media all and (min-width: 480px) and (max-width: 767px){
    .container{
        width: 70%;
        padding: 50px;   
        align-content: center;
    }
    .photo{
        padding-bottom: 10px;
    }
}
@media all and (min-width: 768px){
    .container{
        width: 60%;
        padding: 50px;
        align-content: center;
    }  
}    

.photo {
    
}

.personal-description {
    flex: 1 1 0%;
    text-align: left;
    font-size: 17px;
}

.cualidades{
    font-size:20px;
    text-align: center;
}

.habilidades{
    color: #4E516A;
    padding: 10px;
    text-align: center;
    margin:20px;
}

#lsthab li{
    display: inline; 
    padding-left: 8px;
    padding-right:8px;
    font-size: 20px;
    background-color: #4E516A;
    color: #F4F4F4;
}

.light-container {
    color: #4E516A;
    background-color:#FDFFFF;
}

.light-container ul {
    text-align: left;
}

.name{
    font-family: 'Rajdhani', sans-serif;
    font-size: 45px;
    padding-bottom: 0;
}
.name p {
    margin-bottom: 0;
}

.profession{
    font-size: 20px;
}

.encabezado{
    margin: 20px;
    float: left;
}

.lista{
    float: right;
    margin-top:40px;
    margin-right: 40px;
}

#listaredes li{
    display: inline;
    padding-left: 7px;
    padding-right:7px;   
}

footer {
    background: #4ADCC4; 
    color: #F4F4F4;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 5px 5px silver;
}

.made-by{
    color: #4E516A;
    margin: 30px auto;
}









